@import url('https://fonts.googleapis.com/css?family=Lobster+Two|Pathway+Gothic+One|Rambla');
title {
	color:;

	font-size: ;
	font-family:Lucida Console;
}
/* Navigation Bar*/
nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F7DCF3;
    font-family: 'Rambla', sans-serif;
    font-size:18px;
}
nav li {
    float: left;
}
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* .circle {
height: 100px;
width: 100px;
background:#BE91B8;
border: 3px solid #66105A;
border-radius : 50%;
color: white;

margin-top: 50px;
position:fixed;
right:10px;
top: 10px;
} */
aside {
	float: right;
	width: 38%;
	padding: 2%;
	margin: 1% 0;

}
.profile {
	float:left;
	width: 60%;
	padding: 2%;
	margin: 1% 0;

}

/* End of navigation bar*/
#header{
	text-align: center;

}
#header p{
	margin:0;
}
/* Start of Headings */
h1 {
	border-bottom: 2px solid #E7DDE5;
	color: #66105A;
	font-size: 60px;
	font-family: 'Pathway Gothic One', sans-serif;
	margin-bottom: 0;
}
h2 {
	font-family: 'Pathway Gothic One', sans-serif;
	color: #6C636A;
	font-size: 44px;
	border-bottom: 2px solid #E7DDE5;

	
}
h3 {
	color: #999398;
	font-size: 24px;
	font-family: Lucida Console;
}
/* End of Headings */
/* Paragraphs */
p {
	font-family: 'Rambla', sans-serif;
	font-size:20px;
}
/* End of Paragraph */ 
/* Styling for all lists */
.lists {
	color: black;
	font-family: 'Rambla', sans-serif;
	font-size:20px;
}
.nolists {
	font-family: 'Rambla', sans-serif;
	font-size:20px;
	list-style-type: none;
}
