title {
	color:;

	font-size: ;
	font-family:Lucida Console;
}
/* Navigation Bar*/
#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E7DDE5;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #999398;
}
/* End of navigation bar*/
h1 {
	border-bottom: 2px solid #E7DDE5;
	color: #6C636A;
	font-size: 40px;
	font-family: Times New Roman;
	margin-bottom: 0;
}

#header{
	text-align: center;

}
#header p{
	margin:0;
}

#lifestyle{
	float: left;
}

#liststyle li {
    list-style-type: none;
}

h2 {
	font-family: Lucida Console;
	color: #999398;
	font-size: 30px;
	border-bottom: 2px solid #E7DDE5;

	
}
h2 {
	font-size:28px;
}
h3 {
	color: #6C636A;
	font-size: 
	font-family: Lucida Console;
}
