/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Lustria|Montserrat|Quicksand|Roboto+Condensed');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Start of Banner */ 
.banner {
    position:relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: 300px;
    position: relative;
}

.banner h1 {
    position:relative;
    width: 100%; 
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 800%; 
    color:white;
    text-align: center;
    margin-top:-17%;
    animation-name: nameh1;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    border-bottom: 5px solid #FDFDFE;
}
.banner h2 {
    font-family: 'Montserrat', sans-serif;
    color:black;
    margin-top:-1%;
    position:relative; 
    text-align: center;
    font-size: 250%;
    color:white;
    animation-name: nameh2;
    animation-duration: 5s;
    animation-timing-function: ease-in;
}
/* End of banner */ 

/* Start of navbar */
nav {
    background-color:white !important;
    width: 100%;
    text-align: center;
}
nav ul {
    list-style: none;
    overflow: hidden;

}
nav li {
    border-bottom: 3px solid white; 
    width: 16.65% !important;
    /* Sort out the extra highlight on this */ 
}

nav li a {
    color: #BE91B8 ;
    display: block;
    float: left;
	font-size: 120%;
	font-weight: 600%;
	text-align: center;
	text-decoration: none;
    /*width: 16.65%;*/ 
}

nav ul li a:hover {
    background-color: #EEF6FF;
    font-family: 'Montserrat', sans-serif;
}

nav ul li a {
    text-transform: uppercase;
    color:#C4C7CA;
    transition: none;
    font-family: 'Montserrat', sans-serif;

}

nav li:hover{
    font-family: 'Montserrat', sans-serif;
    background-color:#EEF6FF;
    /*border-bottom: 3px solid #E8E8E9; 
    border-top: 3px solid #E8E8E9;*/
    border-right: 3px solid #C4C7CA;
    border-left: 3px solid #C4C7CA;
    width:16.65% !important;
}

/* End of navbar */

/* Animation */
@keyframes nameh1{
    0%   {color: #2A2A2A; border-bottom: 5px solid #2A2A2A;}
    25%  {color: #6C6D6E; border-bottom: 5px solid #6C6D6E;}
    50%  {color: #C7C8CA; border-bottom: 5px solid #C7C8CA;}
    100% {color: #DBDDDF; border-bottom: 5px solid #DBDDDF;}
}
@keyframes nameh2{
    0%   {color: #2A2A2A;}
    25%  {color: #6C6D6E;}
    50%  {color: #C7C8CA;}
    100% {color: #DBDDDF;}
}
/* End of Animation */

/* Start of Projects */
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000%;
    float: left;

}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 350px;
	height: 350px;
    margin-top: 0.3%;
    margin-left: 0.3%;
    margin-right: 0.3%;
    /*border-radius: 50%;*/

}

/* Flip speed goes here */
.flipper {
	transition: 0.9s;
	transform-style: preserve-3d;
	position: relative;
}

/* Hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* Front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
    background-color: lightblue;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
    background-color: lightpink;
}
/* End of Projects */

/* Start of Skills bar */
h3 {
    color:#C4C7CA;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    /*font-family: 'Montserrat', sans-serif;*/
}
.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35%;
	border-radius:3px;
	/*-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;*/
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
    width:25%;
	/*font-weight:bold;*/
	font-size:100%;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
    position: relative;
    left: 25%;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}
/* End of Skills bar */


/* Start of media queries */
/*@media only screen and (max-width: 780px) {
    nav {
        margin: 2% auto;
    }
    nav li a {
        width: 33.3%;
        font-size: 90%;
        padding-top: 2%;
        padding-bottom: 2%;
        border-bottom: 1px solid #454545;
    }
    nav li:nth-child(3) a {
        border-right: none;
    }*/