@import url('https://fonts.googleapis.com/css?family=Lobster+Two|Pathway+Gothic+One|Rambla');
title {
	color:;
	font-size: ;
	font-family:Lucida Console;
}
/* Navigation Bar*/
nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F7DCF3;
    font-family: 'Rambla', sans-serif;
    font-size:18px;
}
.circle {
	height: 100px;
	width: 100px;
	background:#BE91B8;
	border: 3px solid #66105A;
	border-radius : 50%;
	color: white;
	margin-top: 50px;
	position:fixed;
	right:10px;
	top: 10px;
} 
aside {
	float: right;
	width: 38%;
	padding: 2%;
	margin: 1% 0;
}
.profile {
	float:left;
	width: 60%;
	padding: 2%;
	margin: 1% 0;
}
nav li {
    float: left;
    list-style-type: none;
}
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}
/* Change the link color on hover */
li a:hover {
    background-color: #BE91B8;
    border-bottom: 4px solid #66105A;
}
/* End of navigation bar*/
#header{
	text-align: center;

}
#header p{
	margin:0;
}
/* Start of Headings */
h1 {
	border-bottom: 2px solid #E7DDE5;
	color: #66105A;
	font-size: 60px;
	font-family: 'Pathway Gothic One', sans-serif;
	margin-bottom: 0;
}
h2 {
	font-family: 'Pathway Gothic One', sans-serif;
	color: #6C636A;
	font-size: 44px;
	border-bottom: 2px solid #E7DDE5;
}
h3 {
	color: #999398;
	font-size: 24px;
	font-family: Lucida Console;
}
/* End of Headings */
/* Paragraphs */
p {
	font-family: 'Rambla', sans-serif;
	font-size:20px;
}
/* End of Paragraph */ 
/* Styling for all lists */
.lists {
	color: black;
	font-family: 'Rambla', sans-serif;
	font-size:20px;
}
.nolists {
	font-family: 'Rambla', sans-serif;
	font-size:20px;
	list-style-type: none;
}

@media screen and (max-width: 768px) {
   .container:before {
		left: 8px;
		width: 2px;
   }
   .timeline-block {
		width: 100%;
    	margin-bottom: 30px;
   }
   .timeline-block-right {
    	float: none;
   }

	.timeline-block-left {
		float: none;
		direction: ltr;
   }
}


@import url(https://fonts.googleapis.com/css?family=Montserrat:400);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300);

/*body {
	background: #fafaf5;
	margin: 0;
	padding: 0;
	font: 16px 'Roboto Slab', sans-serif;
	height: 100%;
	color:#333;
}*/
/*
* {margin: 0; padding: 0; outline: none;}

img {border: none;}*/


/*h2 {
	font: 3em Montserrat, sans-serif;
	padding: 10px;	
  margin: 0;
	text-align:center;
  column-rule: #000;
  text-transform: uppercase;
}*/

.container {
	max-width: 600px;
	margin: 0 auto; 
	overflow: hidden;
}

.content{
	width:100%;
  	margin: 0px auto;
	position:relative;
	float:left;
	padding:30px 0 30px;
}
.col { 
	width:100%; 
	margin: 0px auto;
}

#skill { 
	list-style:none; 
	padding-top:30px;
}

#skill li { 
	margin-bottom:50px; 
	background:lightgrey; 
	height:15px; 
	border-radius:10px; 
	border:2px solid lightgrey;
}

#skill li em { 
	position:relative; 
	top:-30px;
	font-style: normal;
	font: 16px 'Roboto Slab', sans-serif;
	font-weight:300;

}

.expand { 
	height:10px; 
	margin:2px; 
  	border-radius:10px;
	background:linear-gradient(to right, #f7a56c 0%,#e46885 100%); 
	position:absolute;
	box-shadow:0px 0px 3px 1px rgba(234,224,172,0.6);
}

.html   { width:80%;  -moz-animation:html 2s ease-out;      -webkit-animation:html 2s ease-out;   }
.js		{ width:90%;  -moz-animation:js 2s ease-out;   		-webkit-animation:js 2s ease-out;     }
.nr     { width:70%;  -moz-animation:nr 2s ease-out;       	-webkit-animation:nr 2s ease-out;     }
.wd     { width:60%;  -moz-animation:wd 2s ease-out;       	-webkit-animation:wd 2s ease-out;     }
.vc     { width:70%;  -moz-animation:vc 2s ease-out;      	-webkit-animation:vc 2s ease-out;     }
.pa     { width:60%;  -moz-animation:pa 2s ease-out;        -webkit-animation:pa 2s ease-out;     }
.pt     { width:60%;  -moz-animation:pt 2s ease-out;        -webkit-animation:pt 2s ease-out;     }


@-moz-keyframes html      { 0%  { width:0px;} 100%{ width:80%;}  }
@-moz-keyframes js        { 0%  { width:0px;} 100%{ width:90%;}  }
@-moz-keyframes nr        { 0%  { width:0px;} 100%{ width:70%;}  }
@-moz-keyframes wd        { 0%  { width:0px;} 100%{ width:60%;}  }
@-moz-keyframes vc        { 0%  { width:0px;} 100%{ width:70%;}  }
@-moz-keyframes pa        { 0%  { width:0px;} 100%{ width:60%;}  }
@-moz-keyframes pt        { 0%  { width:0px;} 100%{ width:60%;}  }


@-webkit-keyframes html   { 0%  { width:0px;} 100%{ width:80%;}  }
@-webkit-keyframes js     { 0%  { width:0px;} 100%{ width:90%;}  }
@-webkit-keyframes nr     { 0%  { width:0px;} 100%{ width:70%;}  }
@-webkit-keyframes wd     { 0%  { width:0px;} 100%{ width:60%;}  }
@-webkit-keyframes vc     { 0%  { width:0px;} 100%{ width:70%;}  }
@-webkit-keyframes pa     { 0%  { width:0px;} 100%{ width:60%;}  }
@-webkit-keyframes pt     { 0%  { width:0px;} 100%{ width:60%;}  }

/* icons */

.icondiv {
  display: inline-block;
  position:absolute;
  top:50%;
  left:50%;
  -ms-transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
}

/* Icons */

.icon {
  color:#fff;
  background: #DB6E82;
  border-radius:4px;
  text-align:center;
  text-decoration:none;
  font-family:fontawesome;
  position: relative;
  display: inline-block;
  width:40px;
  height:28px;
  padding-top:12px;
  margin:0 2px;
  -o-transition:all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
   -webkit-font-smoothing: antialiased;
}

.icon:hover {
  background: #ef92a3;
}

/* pop-up text */

.icon span {
  color:#666;
  position:absolute;
  font-family:sans-serif;
  bottom:0;
  left:-25px;
  right:-25px;
  padding:5px 7px;
  z-index:-1;
  font-size:14px;
  border-radius:2px;
  background:#fff;
  visibility:hidden;
  opacity:0;
  -o-transition:all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* pop-up text arrow */

.icon span:before {
  content:'';
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  position:absolute;
  bottom:-5px;
  left:40px;
}

/* text pops up when icon is in hover state */

.icon:hover span {
  bottom:50px;
  visibility:visible;
  opacity:1;
}

/* font awesome icons */

.icon:nth-of-type(1):before {
content:'\f09a';
}
.icon:nth-of-type(2):before {
content:'\f099';
}
.icon:nth-of-type(3):before {
content:'\f0d5';
}
.icon:nth-of-type(4):before {
content:'\f113';
}
.icon:nth-of-type(5):before {
content:'\f17d';
}
.icon:nth-of-type(6):before {
content:'\f1cb';
}




/* TIMELINE */



/* END OF TIMELINE */


/* FOOTER */
#panel,
#flip {
  padding: 5px;
  text-align: center;
  margin: 0 auto;
}

#panel {
  display: none;
  background: #2B3A42;
}

footer {
  background: #2B3A42;
}


/*Buttton*/

.f-btn {
  display: block;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border: 6px solid #FF530D;
  overflow: hidden;
  transition: color .5s ease-in-out;
  border-radius: 4px;
  text-align: center;
  width: 200px;
  cursor: pointer;
}

.f-btn span {
  font-family: "sofia-pro", sans-serif;
  display: block;
  position: relative;
  z-index: 1;
  padding: 5% 35px;
}

.f-btn span:before {
  display: block;
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: -20%;
  z-index: -1;
  content: '';
  width: 140%;
  height: 140%;
  border-radius: 40px;
  background: #FF530D;
  opacity: 0;
  transform: translate(-100%) rotateY(90deg) scale(0.5);
  transition: opacity 0.3s ease-in, transform 1s;
}

.f-btn:hover {
  color: #2B3A42;
}

.f-btn:hover span:before {
  opacity: 1;
  transform: translate(0) rotate(0deg) scale(1.4);
}


/*form*/

.con-form {
  margin: 0 auto;
  width: 30%;
  text-align: center;
}

footer p {
  text-align: center;
  color: #EFEFEF;
  font-size: 2rem;
}

input,
textarea {
  margin: 1% 0 0 0;
}

footer ul {
  list-style-type: none;
  text-align: center;
  margin: 0 auto;
  width: 80%;
  padding: 0 10% 0 10%;
}

footer li {
  display: inline-block;
  width: 3%;
  position: relative;
  list-style-type: none;
  fill: #EFEFEF;
  text-align: center;
}

#icon-behance {
  fill: #EFEFEF;
}

.codepen {
  fill: #EFEFEF;
}

footer li:hover {
  fill: #FF530D;
}

#foot-social li {
  padding: 2% 2% 0 2%;
  cursor: pointer;
  list-style-type: none;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  font-family: "sofia-pro", sans-serif;
  width: 100%;
  margin: 0 auto;
  height: 38px;
  position: relative;
  margin: 0 0 0 0;
  color: #fff;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 0px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 6px solid #FF530D;
  cursor: pointer;
  box-sizing: border-box;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #2B3A42;
  background: #FF530D;
  outline: 0;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  font-family: "sofia-pro", sans-serif;
  height: 38px;
  width: 100%;
  padding: 6px 10px 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #D1D1D1;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}


/* Removes awkward default styles on some inputs for iOS */

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 100%;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #FF530D;
  outline: 0;
  background: #fff;
}