title {
	color:;
	background-color: ;
	font-size: ;
	font-family: ;
}

p {
	color: blue;
	background-color: ;
	font-size: 
	font-family: Arial ;
}
section {
	color: blue;
	background-color: ;
	font-size: 
	font-family: Arial ;

}
#header {
	color: #500446;
	background-color: #BCD2EE;
	font-size: 40px;
	font-family: ;
}
h2 {
	font-style: Verdana;
	color: #6495ED;
	font-size: 30px;
}
li {
	color: violet;
}