/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Lustria|Montserrat|Quicksand|Roboto+Condensed');
/**
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/
/* Start of preloader */
#loader {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    /* half of #content height*/
    left: 50%;
    margin-left: -50px;
    width: 105px;
    height: 105px;
    
}

.square {
    width: 100px;
    height: 5px;
    -webkit-animation: desno 1s infinite;
            animation: desno 1s infinite;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

.square2 {
    width: 5px;
    height: 100px;
    opacity: 0;
    -webkit-animation: desno2  1s infinite;
            animation: desno2  1s infinite;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

.square3 {
    width: 100px;
    height: 5px;
    margin-top: 100px;
    opacity: 0;
    -webkit-animation: desno3  1s infinite;
            animation: desno3  1s infinite;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

.square4 {
    width: 5px;
    height: 100px;
    margin-left: 100px;
    margin-top: 0px;
    opacity: 0;
    -webkit-animation: desno3  1s infinite;
            animation: desno3  1s infinite;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

#name {
    color:#C4C7CA;
    text-transform: uppercase;
    font-size: 150%;
    margin-top: 140%;
    white-space: nowrap;
    /*Figure it out*/
    /* Won't move to the center of the page */
    box-sizing: border-box;
    position:relative;
    width: 100%; 
    /*font-family: 'Roboto Condensed', sans-serif;*/
    text-align: center;


}
.line {
    border-radius: 2px;
    background: #E1A4D7;;
    position: absolute;
}

@-webkit-keyframes desno {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    80% {
        -webkit-transform: rotate(95deg);
        -ms-transform: rotate(95deg);
        transform: rotate(95deg);
        -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
        transform-origin: bottom left;
    }

    99.99% {
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
        transform-origin: bottom left;
        opacity: 0;
    }
}

@keyframes desno {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    80% {
        -webkit-transform: rotate(95deg);
        -ms-transform: rotate(95deg);
        transform: rotate(95deg);
        -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
        transform-origin: bottom left;
    }

    99.99% {
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
        transform-origin: bottom left;
        opacity: 0;
    }
}

@keyframes desno2 {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: rotate(95deg);
        -ms-transform: rotate(95deg);
        transform: rotate(95deg);
        -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
        transform-origin: bottom left;
    }

    99.99% {
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
        transform-origin: bottom left;
        opacity: 0;
    }
}

@-webkit-keyframes desno3 {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: rotate(95deg);
        -ms-transform: rotate(95deg);
        transform: rotate(95deg);
        -webkit-transform-origin: top right;
        -ms-transform-origin: top right;
        transform-origin: top right;
    }

    99.99% {
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transform-origin: top right;
        -ms-transform-origin: top right;
        transform-origin: top right;
        opacity: 0;
    }
}


@-webkit-keyframes desno4 {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    80% {
        -webkit-transform: rotate(95deg);
        -ms-transform: rotate(95deg);
        transform: rotate(95deg);
        -webkit-transform-origin: top right;
        -ms-transform-origin: top right;
        transform-origin: top right;
    }

    99.99% {
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transform-origin: top right;
        -ms-transform-origin: top right;
        transform-origin: top right;
        opacity: 0;
        -webkit-animation: desno 0.5s;
                animation: desno 0.5s;
    }
}
/* Animation for main page to load gradually*/
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
/* End of preloader */

/* Start of navbar */
nav {
    background-color:white !important;
    width: 100%;
    position: absolute !important;
    border-top: 3px solid #C4C7CA;
}
nav li {
    width: 25% !important;
    text-transform: uppercase;
}
nav ul li a {
    width: 100%;
    color:#C4C7CA;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 120%;
}
nav ul li a:hover {
    font-weight: bold;
    color: white;
}
i.material-icons {
    color: grey;
}
/* End of navbar */
/* Start of page breaker */
hr.style { 
  border: 0; 
  height: 1px; 
  margin-bottom: 10px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}
hr[role="tournament2"] {
    border: 0px solid;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(223, 176, 245, 1), rgba(0, 0, 0, 0));
    margin: 32px 0px;
    display: block;
}
hr[role="tournament2"]::before {
    position: absolute;
    background-color: #efefef;
    border: 1px solid;
    border-color: #DFB0F5;
    border-left: 0px solid;
    border-top: 0px solid;
    padding: 10px;
    transform: rotate(45deg);
    left: 50%;
    margin: -10px 0px 0px -22px;
    content: "";
}
/* End of page breaker*/
/*Start of banner */ 
.banner {
    position:relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: 300px;
    position: relative;
    margin-bottom: 0;
}

.banner h1 {
    position:relative;
    width: 100%; 
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 800%; 
    color:white;
    text-align: center;
    margin-top:-17%;
    animation-name: nameh1;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    border-bottom: 5px solid #FDFDFE;
}
.banner h2 {
    font-family: 'Montserrat', sans-serif;
    color:black;
    margin-top:-1%;
    position:relative; 
    text-align: center;
    font-size: 250%;
    color:white;
    animation-name: nameh2;
    animation-duration: 5s;
    animation-timing-function: ease-in;
}
/* End of banner */ 
/* Animation */
@keyframes nameh1{
    0%   {color: #2A2A2A; border-bottom: 5px solid #2A2A2A;}
    25%  {color: #6C6D6E; border-bottom: 5px solid #6C6D6E;}
    50%  {color: #C7C8CA; border-bottom: 5px solid #C7C8CA;}
    100% {color: #DBDDDF; border-bottom: 5px solid #DBDDDF;}
}
@keyframes nameh2{
    0%   {color: #2A2A2A;}
    25%  {color: #6C6D6E;}
    50%  {color: #C7C8CA;}
    100% {color: #DBDDDF;}
}
/* End of Animation */
/* START OF HEADING STYLES */
h3 {
    color:#C4C7CA;
    text-align: center;
    /*font-family: 'Roboto Condensed', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
}
h4 {
    color:#C4C7CA;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 150%;
    text-align: center;
}
/* END OF HEADING STYLES */

/* START OF PROFILE SECTION */
/* Start of profile section photo */
#imgstyle {
    width: 45%;
    height: 50%;
    line-height: 40%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    margin: 0 auto 10px;
    text-align: center;
}

/* End of profile section photo */
/* Start of  OLD skills bar */
/*.skillbar {
	position:relative;
	display:block;
	margin-bottom:36px;
	width:100%;
	background:#eee;
	height:35%;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
        transform: uppercase;
	position:absolute;
    width:30%;
	font-size:100%;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:20px;
	line-height:-30px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:20px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
    position: relative;
    left: 30%;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:20px;
	line-height:20px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}*/
/* End of skills bar */
/*New Skills bar */
.projcontainer {
	max-width: 600px;
	margin: 0 auto; 
	overflow: hidden;
}

.content{
	width:100%;
  margin: 0px auto;
	position:relative;
	float:left;
	/*padding:30px 0 30px;*/
}
.col { width:100%; margin: 0px auto;}

#skill { 
	list-style:none; 
	padding-top:30px;
}

#skill li { 
	margin-bottom:50px; 
	background:lightgrey; 
	height:15px; 
	border-radius:10px; 
	border:2px solid lightgrey;
}

#skill li em { 
	position:relative; 
	top:-30px;
    font-style: normal;
    font: 16px 'Roboto Slab', sans-serif;
    font-weight:300;

}

.expand { 
	height:10px; 
	margin:2px; 
    border-radius:10px;
	background:linear-gradient(to right, #F9D1F2 0%,#E1A4D7 100%); 
	position:absolute;
	box-shadow:0px 0px 3px 1px rgba(234,224,172,0.6);
}


.html   { width:80%;  -moz-animation:html 2s 5.5s ease-out;         -webkit-animation:html 2s 5.5s ease-out;   }
.js		{ width:90%;  -moz-animation:js 2s 5.5s ease-out;   		-webkit-animation:js 2s 5.5s ease-out;     }
.nr     { width:70%;  -moz-animation:nr 2s 5.5s ease-out;       	-webkit-animation:nr 2s 5.5s ease-out;     }
.wd     { width:60%;  -moz-animation:wd 2s 5.5s ease-out;       	-webkit-animation:wd 2s 5.5s ease-out;     }
.vc     { width:70%;  -moz-animation:vc 2s 5.5s ease-out;      	    -webkit-animation:vc 2s 5.5s ease-out;     }
.pa     { width:60%;  -moz-animation:pa 2s 5.5s ease-out;           -webkit-animation:pa 2s 5.5s ease-out;     }
.pt     { width:60%;  -moz-animation:pt 2s 5.5s ease-out;           -webkit-animation:pt 2s 5.5s ease-out;     }


@-moz-keyframes html      { 0%  { width:0px;} 100%{ width:80%;}  }
@-moz-keyframes js        { 0%  { width:0px;} 100%{ width:90%;}  }
@-moz-keyframes nr        { 0%  { width:0px;} 100%{ width:70%;}  }
@-moz-keyframes wd        { 0%  { width:0px;} 100%{ width:60%;}  }
@-moz-keyframes vc        { 0%  { width:0px;} 100%{ width:70%;}  }
@-moz-keyframes pa        { 0%  { width:0px;} 100%{ width:60%;}  }
@-moz-keyframes pt        { 0%  { width:0px;} 100%{ width:60%;}  }


@-webkit-keyframes html   { 0%  { width:0px;} 100%{ width:80%;}  }
@-webkit-keyframes js     { 0%  { width:0px;} 100%{ width:90%;}  }
@-webkit-keyframes nr     { 0%  { width:0px;} 100%{ width:70%;}  }
@-webkit-keyframes wd     { 0%  { width:0px;} 100%{ width:60%;}  }
@-webkit-keyframes vc     { 0%  { width:0px;} 100%{ width:70%;}  }
@-webkit-keyframes pa     { 0%  { width:0px;} 100%{ width:60%;}  }
@-webkit-keyframes pt     { 0%  { width:0px;} 100%{ width:60%;}  }
/* END OF PROFILE SECTION */

/* START OF PROJECTS SECTION */
/*Entire container, keeps perspective */
.flip-container {
	perspective: 1000%;
    float: left;
}
/* Flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}
.flip-container, .front, .back {
	width: 350px;
	height: 350px;
    margin-top: 0.3%;
    margin-left: 0.3%;
    margin-right: 0.3%;
    border-radius: 10%;
    margin-bottom: 1%;
}
/* Flip speed goes here */
.flipper {
	transition: 0.9s;
	transform-style: preserve-3d;
	position: relative;
}
/* Hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* Front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
    background-color: lightblue;
}

/* Back, initially hidden pane */
.back {
	transform: rotateY(180deg);
    background-color: #F9D1F2;
}
/* END OF PROJECTS SECTION */




/* Footer */
.page-footer {
    background-image: url(Images/FooterPastel.jpeg);
    width: 100%;
    background-size: 100% 100%;
}


@media screen and (max-width: 768px) {
   .projcontainer:before {
      left: 8px;
      width: 2px;
   }
   .timeline-block {
      width: 100%;
      margin-bottom: 30px;
   }
   .timeline-block-right {
      float: none;
   }

   .timeline-block-left {
      float: none;
      direction: ltr;
   }
}



/* Start of media queries */
@media only screen and (min-width: 780px) and (max-width: 991px) {
/* NAVBAR */
/* Move nav bar to top of page */
.navbar-fixed {
     width: 100%;
     position: absolute;
     top: 0;
     }
/* BANNER */
/* Move banner down below top nav bar */
.banner {
     position: relative;
     top: 30px;
     height: auto;
     }
.banner h1 {
    position:relative;
    font-size: 600%; 
}
.banner h2 {
    position: relative;
    font-size: 150%;
 
}
.banner img {
    height: auto;
}
}
@media only screen and (max-width: 780px) {
/* Move nav bar to top of page */
.navbar-fixed {
     width: 100%;
     position: absolute;
     top: 0;
     }
/* Move banner down below top nav bar */
.banner {
     position: relative;
     top: 30px;
     height: auto;
     }
.banner h1 {
    position:relative;
    font-size: 500%; 
}
.banner h2 {
    font-size: 156%;
}
}