@import url('https://fonts.googleapis.com/css?family=Lobster+Two|Pathway+Gothic+One|Rambla');
title {
	color:;

	font-size: ;
	font-family:Lucida Console;
}
/* Navigation Bar*/
#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F7DCF3;
    font-family: 'Rambla', sans-serif;
    font-size:18px;

}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

/* Change the link color on hover */
li a:hover {
    background-color: #BE91B8;
}
/* End of navigation bar*/
h1 {
	border-bottom: 2px solid #E7DDE5;
	color: #6C636A;
	font-size: 60px;
	font-family: 'Pathway Gothic One', sans-serif;
	margin-bottom: 0;
}

#header{
	text-align: center;

}
#header p{
	margin:0;
}
p {
	font-family: 'Rambla', sans-serif;
	font-size:20px;
}

h2 {
	font-family: 'Pathway Gothic One', sans-serif;
	color: #999398;
	font-size: 44px;
	border-bottom: 2px solid #E7DDE5;

	
}
h3 {
	color: #6C636A;
	font-size: 
	font-family: Lucida Console;
}
/* Styling for all lists */
.lists {
	font-family: 'Rambla', sans-serif;

}
