/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Lustria|Montserrat|Quicksand|Roboto+Condensed');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Test preloader */
/*html {
    background: white;
}*/

#cont {
    position: absolute;
    top: 50%;
    margin-top: -50px;
/* half of #content height*/
    left: 50%;
    margin-left: -50px;
    width: 105px;
    height: 105px;
}

.square {
    width: 100px;
    height: 5px;
    -webkit-animation: desno 1s infinite;
            animation: desno 1s infinite;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

.square2 {
    width: 5px;
    height: 100px;
    opacity: 0;
    -webkit-animation: desno2  1s infinite;
            animation: desno2  1s infinite;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

.square3 {
    width: 100px;
    height: 5px;
    margin-top: 100px;
    opacity: 0;
    -webkit-animation: desno3  1s infinite;
            animation: desno3  1s infinite;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

.square4 {
    width: 5px;
    height: 100px;
    margin-left: 100px;
    margin-top: 0px;
    opacity: 0;
    -webkit-animation: desno3  1s infinite;
            animation: desno3  1s infinite;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

.line {
    border-radius: 2px;
    background: #E1A4D7;;
    position: absolute;
}



@-webkit-keyframes desno {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    80% {
        -webkit-transform: rotate(95deg);
        -ms-transform: rotate(95deg);
        transform: rotate(95deg);
        -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
        transform-origin: bottom left;
    }

    99.99% {
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
        transform-origin: bottom left;
        opacity: 0;
    }
}

@keyframes desno {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    80% {
        -webkit-transform: rotate(95deg);
        -ms-transform: rotate(95deg);
        transform: rotate(95deg);
        -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
        transform-origin: bottom left;
    }

    99.99% {
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
        transform-origin: bottom left;
        opacity: 0;
    }
}

@-webkit-keyframes desno2 {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: rotate(95deg);
        -ms-transform: rotate(95deg);
        transform: rotate(95deg);
        -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
        transform-origin: bottom left;
    }

    99.99% {
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
        transform-origin: bottom left;
        opacity: 0;
    }
}

@keyframes desno2 {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: rotate(95deg);
        -ms-transform: rotate(95deg);
        transform: rotate(95deg);
        -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
        transform-origin: bottom left;
    }

    99.99% {
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
        transform-origin: bottom left;
        opacity: 0;
    }
}

@-webkit-keyframes desno3 {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: rotate(95deg);
        -ms-transform: rotate(95deg);
        transform: rotate(95deg);
        -webkit-transform-origin: top right;
        -ms-transform-origin: top right;
        transform-origin: top right;
    }

    99.99% {
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transform-origin: top right;
        -ms-transform-origin: top right;
        transform-origin: top right;
        opacity: 0;
    }
}

@keyframes desno3 {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: rotate(95deg);
        -ms-transform: rotate(95deg);
        transform: rotate(95deg);
        -webkit-transform-origin: top right;
        -ms-transform-origin: top right;
        transform-origin: top right;
    }

    99.99% {
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transform-origin: top right;
        -ms-transform-origin: top right;
        transform-origin: top right;
        opacity: 0;
    }
}

@-webkit-keyframes desno4 {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    80% {
        -webkit-transform: rotate(95deg);
        -ms-transform: rotate(95deg);
        transform: rotate(95deg);
        -webkit-transform-origin: top right;
        -ms-transform-origin: top right;
        transform-origin: top right;
    }

    99.99% {
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transform-origin: top right;
        -ms-transform-origin: top right;
        transform-origin: top right;
        opacity: 0;
        -webkit-animation: desno 0.5s;
                animation: desno 0.5s;
    }
}

@keyframes desno4 {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    80% {
        -webkit-transform: rotate(95deg);
        -ms-transform: rotate(95deg);
        transform: rotate(95deg);
        -webkit-transform-origin: top right;
        -ms-transform-origin: top right;
        transform-origin: top right;
    }

    99.99% {
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transform-origin: top right;
        -ms-transform-origin: top right;
        transform-origin: top right;
        opacity: 0;
        -webkit-animation: desno 0.5s;
                animation: desno 0.5s;
    }
}
/* End of preloader */
/*Preloader*/

/*div #loader {
    background-color: blue;
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}*/
/* End of preloader */
/* Start of navbar */
nav {
    background-color:white !important;
    width: 100%;
    position: absolute !important;
    border-top: 3px solid #C4C7CA;
}
nav li {
    width: 25% !important;
    text-transform: uppercase;
}
nav ul li a {
    width: 100%;
    color:#C4C7CA;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 120%;
}
nav ul li a:hover {
    font-weight: bold;
}
i.material-icons {
    color: grey;
}
/* End of navbar */
/* Start of page breaker */
hr.style { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}
/* End of page breaker*/
/*Start of banner */ 
.banner {
    position:relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: 300px;
    position: relative;
}

.banner h1 {
    position:relative;
    width: 100%; 
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 800%; 
    color:white;
    text-align: center;
    margin-top:-17%;
    animation-name: nameh1;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    border-bottom: 5px solid #FDFDFE;
}
.banner h2 {
    font-family: 'Montserrat', sans-serif;
    color:black;
    margin-top:-1%;
    position:relative; 
    text-align: center;
    font-size: 250%;
    color:white;
    animation-name: nameh2;
    animation-duration: 5s;
    animation-timing-function: ease-in;
}
/* End of banner */ 


/* Animation */
@keyframes nameh1{
    0%   {color: #2A2A2A; border-bottom: 5px solid #2A2A2A;}
    25%  {color: #6C6D6E; border-bottom: 5px solid #6C6D6E;}
    50%  {color: #C7C8CA; border-bottom: 5px solid #C7C8CA;}
    100% {color: #DBDDDF; border-bottom: 5px solid #DBDDDF;}
}
@keyframes nameh2{
    0%   {color: #2A2A2A;}
    25%  {color: #6C6D6E;}
    50%  {color: #C7C8CA;}
    100% {color: #DBDDDF;}
}
/* End of Animation */

/* Start of profile section photo */
#imgstyle {
    width: 45%;
    height: 50%;
    line-height: 40%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    /*text-align: center;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;*/
    margin: 0 auto 10px;
    text-align: center;
}
/* End of profile section photo */
/* Start of Skills bar */
h3 {
    color:#C4C7CA;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    /*font-family: 'Montserrat', sans-serif;*/
}
.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35%;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
    width:30%;
	font-size:100%;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
    position: relative;
    left: 30%;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}
/* End of Skills bar */

/* Start of Projects */
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000%;
    float: left;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}
.flip-container, .front, .back {
	width: 350px;
	height: 350px;
    margin-top: 0.3%;
    margin-left: 0.3%;
    margin-right: 0.3%;
    border-radius: 50%;
    margin-bottom: 1%;
}

/* Flip speed goes here */
.flipper {
	transition: 0.9s;
	transform-style: preserve-3d;
	position: relative;
}

/* Hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* Front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
    background-color: lightblue;
}

/* Back, initially hidden pane */
.back {
	transform: rotateY(180deg);
    background-color: #F9D1F2;
}
/* End of Projects */


/* Start of media queries */
/*@media only screen and (max-width: 780px) {
    nav {
        margin: 2% auto;
    }
    nav li a {
        width: 33.3%;
        font-size: 90%;
        padding-top: 2%;
        padding-bottom: 2%;
        border-bottom: 1px solid #454545;
    }
    nav li:nth-child(3) a {
        border-right: none;
    }*/
/*@media only screen and (max-width: 780px) {
nav {
    margin: 2% auto;
}
nav li a {
	width: 33.3%;
	font-size: 90%;
	padding-top: 2%;
	padding-bottom: 2%;
	border-bottom: 1px solid #454545;
	}
nav li:nth-child(3) a {
		border-right: none;

	}
section {
		width: 100%;
	}
aside {
		width:100%;
	}
.one-third{
		width: 100%;
	}
h2 {
		font-size: 105%;
	}
p { 
	font-size: 95% }
}
.banner {
    height: 300%; 
}

@media only screen and (max-width: 580px) {
nav li a {
	width: 50%;
	font-size: 82%;
	}
	nav li:nth-child(even) a {
		border-right: none;
	}
	nav li:nth-child(3) a {
		border-right: 1px solid #454545;
	}
	h2 {
		font-size: 95%;
	}
	p { 
	font-size: 88%; 
	}
}*/